apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 1h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: "39.0.2"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    image:
      tag: v3.6.2

    # NGINX provider compatibility mode
    additionalArguments:
      - "--providers.kubernetesIngressNGINX"

    service:
      type: LoadBalancer

    ingressRoute:
      dashboard:
        enabled: true